html {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0px;
}

header {
    padding: 24px;

    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
}

footer {
    padding: 24px;
    background-color: burlywood;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    align-items: center;
}

main {
    max-width: 800px;
    margin: auto;
}

.mainbookreview {
    background-color: white;
    border: 1px solid lightblue;
    padding: 24px;

    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
}

.book-cover {
    width: 200;
    height: auto;

    grid-row: 1/5;
}

.booktitle {
    font-weight: bold;
    font-size: 150%;
}

.book-rating {
    font-size: 125%;
}

.book-authors {
color: dimgray;
}

.detail-page-book-review {
    background-color: white;
    padding: 24px;
}

.create-page-book-review {
    background-color: white;
    padding: 24px;
}
    