<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        {% comment %} <link rel="stylesheet" href="{% static 'css/apps.css' %}"> {% endcomment %}
    </head>

    <body>
        <header>
            Book Entry
            <nav>
                <div>
                    <a href="{% url 'show_books'%}">
                        Book List
                    </a>
                </div>
                <div>
                    <a href="{% url 'admin:index'%}">
                        Admin
                    </a>
                </div>
            </nav>
        </header>
        <main>
            <div>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
            
                    <input type="submit" value="Submit">
                </form>
            </div>
        </main>
    </body>

</html>
