<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        {% comment %} <link rel="stylesheet" href="{% static 'css/apps.css' %}"> {% endcomment %}
    </head>

    <body>
        <header>
            Delete Book Entry
            <nav>
                <a href="{% url 'show_books'%}">
                    Book List
                </a>
            </nav>
        </header>
        <main>
            <div>
                <h1> Delete this Book" </h1>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    Are you want to delete this item ?
                    <input type="submit" value="DELETE THIS BOOK" />
                    <button>
                        <a href="/">Cancel </a>
                    </button>
                </form>
            </div>
        </main>
    </body>

</html>
